/* Definições de cores para o tema claro e escuro */
:root {
    --primary-color: #005CA3;
    /* Azul Inatel */
    --text-color-light: #333333;
    /* Texto para o modo claro */
    --text-color-dark: #FFFFFF;
    /* Texto para o modo escuro */
    --bg-light: #FFFFFF;
    /* Fundo Claro */
    --bg-dark: #333333;
    /* Fundo Escuro */
    --border-color: #D1D3D4;
    /* Bordas claras */
    --highlight-color: #005CA3;
    /* Cor de destaque - Azul */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 414px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--primary-color);
    border: 2px solid var(--border-color);
}

.icon,
.logo {
    width: 40px;
    height: 40px;
    background-color: #8f8f8f;
}

.mensagens {
    padding: 16px;
    background-color: #F4F6F7;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid var(--border-color);
}

.mensagem {
    background-color: #F1F1F1;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--border-color);
}

.aulas {
    background-color: #F4F6F7;
    padding: 16px;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aula {
    background-color: #D9EAF7;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

}