/* Definições de cores para os temas */
:root {
    --primary-color-inatel: #005CA3;
    /* Azul Inatel */
    --secondary-color-inatel: #015294;
    /* Botões Inatel */
    --text-color-light: #000000;
    /* Texto para o modo claro */
    --text-color-dark: #FFFFFF;
    /* Texto para o modo escuro */
    --bg-light: #FFFFFF;
    /* Fundo claro */
    --bg-dark: #333333;
    /* Fundo escuro */
    --highlight-color: #005CA3;
    /* Cor de destaque - Azul */
    --border-color: #D1D3D4;
    /* Bordas claras */
}

/* Tema do Inatel */
.theme-inatel {
    --bg-light: #0068BD;
    /* Fundo claro Inatel */
    --bg-dark: #003C75;
    /* Fundo escuro Inatel */
    --text-color-light: #FFFFFF;
    /* Texto claro em fundo escuro */
    --text-color-dark: #FFFFFF;
    /* Texto escuro em fundo claro */
    --primary-color: var(--primary-color-inatel);
    --secondary-color: var(--secondary-color-inatel);
}

/* Tema Preto e Branco */
.theme-black-white {
    --bg-light: #FFFFFF;
    /* Fundo claro preto e branco */
    --bg-dark: #000000;
    /* Fundo escuro preto e branco */
    --text-color-light: #000000;
    /* Texto claro preto e branco */
    --text-color-dark: #FFFFFF;
    /* Texto escuro preto e branco */
    --primary-color: #000000;
    /* Cor primária preta */
    --secondary-color: #FFFFFF;
    /* Cor secundária branca */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-light);
    color: var(--text-color-light);
}

/* Tema Claro */
body.light-mode {
    background-color: var(--bg-light);
    color: var(--text-color-light);
}

/* Tema Escuro */
body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-color-dark);
}

.container {
    width: 414px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--primary-color);
    border: 2px solid var(--border-color);
}

.icon,
.logo {
    width: 40px;
    height: 40px;
    background-color: #8f8f8f;
}

.mensagens {
    padding: 16px;
    background-color: #F4F6F7;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid var(--border-color);
}

.mensagem {
    background-color: #F1F1F1;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--border-color);
}

.aulas {
    background-color: #F4F6F7;
    padding: 16px;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aula {
    background-color: #D9EAF7;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#theme-toggle {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

button {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}