body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

.container {
    width: 414px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #FFF2CC;
    /* Amarelo claro */
    border: 2px solid #000;
    /* Adiciona borda */
}

.icon,
.logo {
    width: 40px;
    height: 40px;
    background-color: #8f8f8f;
}



.mensagens {
    padding: 16px;
    background-color: #EAD1DC;
    /* Rosa claro */
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid #000;
    /* Adiciona borda */
}

.mensagem {
    background-color: #e4a7c1;
    /* Rosa claro para manter unidade visual */
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #000;
    /* Adiciona uma borda */
}

.quadrado {
    width: 16px;
    height: 16px;
    background-color: #ccc;
    border-radius: 4px;
}

.aulas {
    background-color: #D9EAD3;
    /* Verde claro */
    padding: 16px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* Adiciona uma borda */

}




.aula {
    background-color: #c0e9b1;
    /* Verde claro para manter unidade visual */
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    gap: 130px;
    /* Adiciona uma borda */
}

.aulaicons {
    background-color: #49e70f;
    /* Verde claro para manter unidade visual */
    padding: 8px;
    /* Adiciona uma borda */
    display: flex;
    justify-content: left;
    gap: 16px;
    width: 33%;

}

.noticias {
    background-color: #F4CCCC;
    /* Vermelho claro */
    padding: 16px;
    border: 2px solid #000;
    /* Adiciona uma borda */
}

.card-noticia {
    background-color: #ebafaf;
    /* Vermelho claro para manter unidade visual */
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #000;
    /* Adicionei uma borda */
}

/* RESPONSIVIDADE */
@media (max-width: 480px) {
    .container {
        padding: 8px;
    }

    .aula {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .aulaicons {
        width: 50%;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}